PORT=3000
FIRESNOW_API_URL=http://localhost:8080
USE_FIRESNOW_API=true

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Mypass123!
DB_NAME=sprzet_narciarski
DB_HISTORY_NAME=history
